body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

#calculator {
    font-family: arial, sans-serif;
    background-color: black;
    border-radius: 15px;
    width: 90%;
    max-width: 500px; /* Adjust as needed for larger screens */
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
}

#display {
    width: calc(100% - 40px); /* Adjusted width for padding */
    padding: 20px;
    font-size: 4rem;
    text-align: right;
    border: none;
    background-color: black;
    color: white;
    margin-bottom: 20px;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjusted for responsiveness */
    gap: 10px;
    padding: 10px;
    justify-content: center;
}

button {
    width: 100%;
    height: 80px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0 , 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

.operator-btn {
    background-color: hsl(0, 5%, 25%);
}

.isequalto {
    background-color: hsl(30, 100%, 55%);
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    #calculator {
        width: 90%;
    }
    #keys {
        grid-template-columns: repeat(3, 1fr)); /* Adjusted for smaller screens */
        gap: 5px; /* Reduced gap for smaller screens */
    }
    button {
        font-size: 2rem;
        height: 60px;
    }
}
